.payment-root {
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 74vh;
}
.payment-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vh;
  width: 100%;
  padding: 0 16px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 100;
  border-bottom: 3px solid #f5f5f5;
}
.payment-back-btn {
  position: absolute;
  left: 16px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 22px;
  height: 22px;
  display: inline-block;
  background-image: url("/img/icon/back-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  cursor: pointer;
}
.payment-logo {
  width: 40%;
  max-width: 100px;
}
.payment-middle-container {
  width: 100%;
  overflow: scroll;
}
.payment-restaurant-info {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 25px;
  gap: 12px;
  width: 100%;
  border-bottom: 5px solid #f5f5f5;
}
.payment-restaurant-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}
.payment-restaurant-details {
  flex-grow: 1;
}
.payment-restaurant-details .category {
  font-size: 13px;
  color: gray;
}
.payment-restaurant-details .name {
  font-size: 1.2rem;
  font-weight: 700;
}
.payment-restaurant-details .desc {
  font-size: 0.8rem;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.payment-menu-section {
  border-bottom: 5px solid #f5f5f5;
}
.section-title {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 20px 0 8px 25px;
  color: #333;
}
.menu-section {
  padding: 0 16px;
}
.menu-list {
  list-style: none;
  padding: 0 25px;
  margin: 0;
}
.menu-list li {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  font-size: 14px;
}
.payment-total-amount {
  text-align: right;
  font-size: 1.1rem !important;
  color: #6253d3;
  padding: 10px 0;
  font-weight: bold;
}
.discount-section {
  padding: 0 0 10px 0;
}
.discount-section .point-box,
.coupon-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #B3B3B3;
  padding: 15px;
  border-radius: 8px;
  margin: 12px 25px;
  height: 3rem;
}
.discount-section .point-box {
  padding-right: 0;
}
.point-box span{
  font-size: 14px;
  color: #B3B3B3;
}
.point-box-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.point-box-left span {
  font-weight: 700;
  color: #757575;
}
.point-box button {
  background: linear-gradient(90deg, #AD7FF5 0%, #6253D3 100%);
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  width: 110px;
  height: 3rem;
}
.coupon-box .gift {
  background-image: url("/img/icon/gift-icon.png");
  width: 18px;
  height: 18px;
}
.coupon-box select {
  border: none;
  background: transparent;
  font-size: 14px;
  color: #222;
  flex-grow: 1;
  margin-left: 10px;
}

.payment-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  border-top: 5px solid #f5f5f5;
}

.total-payment {
  font-size: 1.2rem;
  font-weight: bold;
  color: #6656D4;
  display: flex;
  align-items: center;
  gap: 15px;
}

.pay-btn {
  background: linear-gradient(90deg, #AD7FF5 0%, #6253D3 100%);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  width: 33vw;
}
