.payment-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vh;
  width: 100%;
  padding: 0 16px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 100;
}
.payment-back-btn {
  position: absolute;
  left: 16px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 22px;
  height: 22px;
  display: inline-block;
  background-image: url("/img/icon/back-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  cursor: pointer;
}
.payment-logo {
  width: 40%;
  max-width: 180px;
}


.payment-restaurant-info {
  display: flex;
  align-items: center;
  margin: 14vh 16px 8px;
  gap: 12px;
  width: 100%;
}

.payment-restaurant-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.payment-restaurant-details {
  flex-grow: 1;
}

.payment-restaurant-details .category {
  font-size: 13px;
  color: gray;
}

.payment-restaurant-details .name {
  font-size: 18px;
  font-weight: bold;
}

.payment-restaurant-details .desc {
  font-size: 13px;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-title {
  font-weight: bold;
  font-size: 15px;
  margin: 20px 16px 8px;
  color: #333;
  width: 100%;
}

.menu-section {
  width: 100%;
  padding: 0 16px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  font-size: 14px;
}

.total {
  text-align: right;
  font-size: 15px;
  color: #6a4dff;
  margin-top: 10px;
  font-weight: bold;
}

.discount-section {
  width: 100%;
  padding: 0 16px;
  margin-top: 20px;
}

.discount-section .point-box,
.coupon-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  margin-top: 12px;
}

.point-box span:first-child {
  font-size: 14px;
  color: #444;
}

.point-box span:last-child {
  font-size: 14px;
  font-weight: bold;
}

.point-box button {
  background: linear-gradient(to right, #a179ff, #6a4dff);
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.coupon-box select {
  border: none;
  background: transparent;
  font-size: 14px;
  color: #555;
  flex-grow: 1;
  margin-left: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 16px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.total-payment {
  font-size: 17px;
  font-weight: bold;
  color: #6a4dff;
}

.pay-btn {
  background: linear-gradient(to right, #a179ff, #6a4dff);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 999px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
